

* {
    margin: 0;
    padding: 0;
    font-family: "Readex Pro", sans-serif;
    scroll-behavior: smooth;
    text-decoration: none;
    box-sizing: border-box;
    direction: rtl;
   }
  
 /*Header style*/ 
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: transform 0.3s ease, opacity 0.3s ease;
    z-index: 1000;
  }

.header.hidden {
    transform: translateY(-100%);
    opacity: 0;
}

.header.visible {
    transform: translateY(0);
    opacity: 1;
}

  
  .logo img {
    width: 171px;
    height: 78px;

  }
  
  .header-btn {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: 1px solid #D8D8D8;
    padding: 15px 20px;
    gap: 8px;
    width: 160px;
    height: 50px;
    border-radius: 6px;
    

  }
  
  .header-btn img {
    height: 20px;
    width: 20px;
  }
  
  .header-btn span {
    font-size: 13px;
    font-weight: 400;
    color:#2D3633;
  }
  
  .header-btn button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: #fff;
  }
  
  
  .bigcontainer{
    display: flex;
    flex-direction: column;
    padding: 5px 50px;
    gap: 9px;
    background-color: #fff;
  }
   /*Hero style*/ 
.hero-section {
    background-image: url('../img/herobackground.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 650px; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color: #fff;
    border-radius: 8px;
  }

  
  .hero-section h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin: 1.5rem;
    line-height: 3rem;

  }
  
  .hero-section h1 span {
    color: #00a64f; 
  }
  
  .hero-section h2 {
    font-size: 2rem;
    margin-top: 10px;
    line-height: 2.5rem;
    color: #fff;
  }
  .hero-section h2 span{
    color: grey;
  }
  
  .hero-section button {
    margin-top: 20px;
    padding: 16px 24px;
    font-size: 1rem;
    line-height: 1.3rem ;
    font-weight: 600;
    background-color:#FA9D2B;
    border: none;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
  }
  .hero-section button:hover {
    background-color: #FFC107;
  }
    /* Animation Keyframes */
@keyframes fadeIn {
  from {
      opacity: 0;
      transform: translateY(50px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes slideUp {
  from {
      opacity: 0;
      transform: translateY(50px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

/* Apply Animations  */
 .hero-title {
  animation: fadeIn 3s ease-in-out;
}

button.slide-up {
  animation: slideUp 3s ease-in-out 0.5s;
  /* animation-fill-mode: both; */
}

   /*dwoloadinapp style*/ 
   .underhero {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 500px; 
    background-color: #f0f9f4; 
    border-radius: 8px;
    overflow: hidden;

  }
  
  .under-hero-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    width: 50%;
    margin: 50px;

  }
  
  .under-hero-right h2 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #2D3633;
    margin-bottom: 10px;
  }
  
  .under-hero-right h3 {
    font-size: 1.5rem; 
    font-weight: 400;
    color: #666; 
    margin-bottom: 20px;
  }
  
  .under-hero-right a {
    display: inline-block;
    margin-left: 10px; 
    transition: transform  3s all ease;
  }
  .under-hero-right a:hover{
    transform: scale(1.1)
  }
  
  .under-hero-right a img {
    height: 40px; 
    width: auto;
  }
  
  .under-hero-left {
    text-align: end;
    background-image: url('../img/iPhone.png'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 50%;
    position: relative;
  }
  
  .under-hero-left img {
    position: absolute;
    width: 187px;
    margin: -40px;
    bottom: 0px;
    left: 0px;
    transform:rotate(40deg) ;
   }
  
  @media (max-width: 768px) {
    .underhero {
      flex-direction: column;
      text-align: center;
    }
  
    .under-hero-right,
    .under-hero-left {
      width:50%;
      text-align: center;
      margin-bottom: 20px;
    }
  
    .under-hero-left img {
      max-width: 80%;
      height: auto;
    }
  }
  @keyframes slideUp {
    from {
      transform: translateY(50px); 
      opacity: 0; 
    }
    to {
      transform: translateY(0); 
      opacity: 1; 
    }
  }
  .slideUp {
    animation: slideUp 2s  forwards; 
  }
/* datecalculation style */
.date-calculation {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  background-color: #f0f9f4; 
  border-radius: 8px;

}

.date-calculation-part1 {
  width: 50%; 
text-align: center;
  margin-left: 2rem;
}

.date-calculation-part1 h2{
  font-size: 2.5rem; 
  color: #388e3c; 
  margin-bottom: 10px;
  font-weight: 600;
}

.date-calculation-part1 h3{
  font-size: 1.9rem;
  color: #2D3633;
  text-wrap:none;
  font-weight: 400;
  margin-bottom: 20px;
}

.date-calculation-part1 p {
  font-size: 1.2rem; 
  font-weight: 400;
  color: #2D3633; 
  margin-bottom: 30px;
}

.date-calculation-part1 a {
  padding: 16px 24px;
  background-color: #388e3c; 
  color: #fff; 
  font-weight: 600;
  border-radius: 8px;
  margin-top: 20px;
}
.date-calculation-part1 a:hover{
  background-color: #2D3633;
}
@keyframes slideRight {
  from{
    transform: translateX(100%);
    opacity: 0;
  
  }
  to{
    transform: translateX(0);
    opacity: 1;
  }
}
.slide-right{
  animation: slideRight 1s forwards;
}

.date-calculation-part2 {
  width: 50%; 
  text-align: center;
}

.date-calculation-part2 img {
  max-width: 100%;
  height: auto;
}
@keyframes slideLeft {
  from{
    transform: translateX(-100%);
    opacity: 0;
  
  }
  to{
    transform: translateX(0);
    opacity: 1;
  }
}
.slide-left{
  animation: slideLeft 1s forwards;
}


@media (max-width: 1080px) {
  .date-calculation {
    flex-direction: column;
    text-align: center;
  }

  .date-calculation-part1,
  .date-calculation-part2 {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
}

/* registering style */
.register-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px; 
}
.register-container-white2 .register-container-img,
.register-container-gray1 .register-container-img{
  background: linear-gradient(#BFE2C4,#EDEDED);
  text-align: center;
  padding: 10px;
  height: 100%;
  width: 48px;
  height: 168px;
  border-radius: 8px;
}
.register-container-white1 .register-container-img,
.register-container-gray2 .register-container-img{
  background: linear-gradient(#BFE2C4,#F9F9F9);
  text-align: center;
  padding: 10px;
  height: 100%;
  width: 48px;
  height: 168px;
  border-radius: 8px;
}
.register-container-img img {
  max-width: 30px; 
  height: auto;
}


.register-container-gray1,
.register-container-gray2,
.register-container-white1, 
.register-container-white2 {
  border-radius: 8px;
  padding: 30px;
  display: flex;
  width: 49.5%;
  gap: 20px;
  animation-fill-mode: forwards;
}
.register-container-gray1,
.register-container-gray2{
  background-color: #EDEDED;
}

.register-container-white1,
.register-container-white2 {
  background-color: #F9F9F9; 
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.first-Fadein{
  animation: fadeIn 1s ease;
}
.second-Fadein{
  animation: fadeIn 3s ease;
}
.third-Fadein{
  animation: fadeIn 5s ease;
}
.fourth-Fadein{
  animation: fadeIn 7s ease;
}

.register-container-title{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 15px;
}



.register-container-title-1 {
  font-size: 1.2rem; 
  font-weight: 400;
  color: #333; 
  margin-bottom: 5px;
}

.register-container-title-2 {
  font-size: 0.9rem; 
  color: #666; 
}
.register-container-title-link{
text-align: start;
}
.register-container-title-link a {
  color: #2D3633;
  padding: 8px 15px;
  border-radius: 5px;
  font-size: 0.8rem; 
}

.register-container-title-link a:hover {
  color: #31A342; 
}

.register-container-title-link  span {
  background-color: #FA9D2B;
  padding: 2px 4px;
  border-radius: 4px;
}

.register-container-title-link1 a span img {
  width: 15px; 
  height: auto;
  vertical-align: middle;
}


@media (max-width: 768px) {
  .register-container-gray,
  .register-container-white {
    width: 100%; 
  }
}

/* Get app style */
.getapp-section{
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  border-top: 1px solid #E4E4E4;
  border-bottom: 1px solid #E4E4E4;
  margin-top: 20px;
  gap: 10px;

}
.getapp-section-title{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  
}

.getapp-section-title h3{
  font-size: 2rem;
  color: #2D3633;
  margin-left: 15px;
  font-weight: 400;
}
.getapp-section-title p{
  font-size: 0.9rem;
  font-weight: 400;
  color:#e4e4e4 ;
}
.getapp-section-links {
  display: flex;
  gap: 20px;
}
.getapp-section-links a{
  transition: transform  3s all ease;
}
.getapp-section-links a:hover{
  transform: scale(1.1);
}
/* Footer style */
.footer{
 margin-top: 40px;
 border-bottom: 1px solid #E4E4E4;
}
.footer-logo-section{
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.footer-logo,
.footer-list-menu{
  width: 20%;
  margin-left: 20px;
}
.footer-logo-img{
  padding: 10px;
}
.footer-logo-title p{
  font-size: 0.7rem;
  font-weight: 600;
  color: #2D3633;
}
.footer-logo-title p span{
  color: #31A342;
}
.footer-list-menu{
  height: 200px;
}
/* list menu title */
.footer-list-menu p{
  color: #31A342;
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 30px;
  text-align: right;
}

.footer-list-item a{
  color: #2D3633;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.7rem;
}
.footer-list-item a:hover{
  color: #31A342;
}
@keyframes slideUp {
  from {
    transform: translateY(50px); 
    opacity: 0; 
  }
  to {
    transform: translateY(0); 
    opacity: 1; 
  }
}
.slideUp {
  animation: slideUp 2s  forwards; 
}
/* copyright style */
.footer-copyright{
  display: flex;
  justify-content: space-between;
}
.copyright{
  display: flex;
  gap: 4px;
  align-items:center;
}
.copy-right {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border : 1px solid #d8d8d8;
  width: 15px;               
  height: 15px;               
  border-radius: 50%;         
  color: #FFFFFF;             
  font-size: 0.7rem;                      
  margin-left: 5px;          
  display: flex;
  justify-content: center;
  align-items: center;
}
.letter {
  color: #000000;  
}




.copyright p {
  color: #2D3633;
  font-size: 0.8rem;
  font-weight: 400;
}
.footer-social{
  display: flex;
  gap: 10px;
}
  





  
  
  